.wrapper__input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.wrapper__input {
    margin-right: 50px;
}

.input__block {
    /*padding: 10px 20px;*/
}