.wrapper {
    display: flex;
    flex-direction: row;
}

.out {
    border: 3px solid #999;
}

h4 {
    font-weight: normal;
    margin-bottom: 6px;
}





.give_me_result {
    width: 200px;
    height: 60px;

}
